apiVersion: v1
kind: Pod
metadata:
  name: jenkins
  labels:
    app: jenkins
spec:
  containers:
  - name: jenkins
    image: ec2-54-95-48-23.ap-northeast-1.compute.amazonaws.com:5000/thoughtworks-school/jenkins:latest
    ports:
    - containerPort: 8080
    volumeMounts:
    - name: docker
      mountPath: /usr/bin/docker
    - name: docker-sock
      mountPath: /var/run/docker.sock
    - name: kubectl
      mountPath: /usr/bin/kubectl
  volumes:
  - name: docker
    hostPath:
      path: /usr/bin/docker
  - name: docker-sock
    hostPath:
      path: /var/run/docker.sock
  - name: kubectl
    hostPath:
      path: /usr/bin/kubectl
---    
apiVersion: v1
kind: Service
metadata:
  name: jenkins-service
spec:
  type: NodePort
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    nodePort: 30080
  selector:
    app: jenkins